@model List<FitnessCenterProject.Models.Appointment>

<h1>Tüm Randevular (Admin)</h1>

<table class="table">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Üye</th>
            <th>Hizmet</th>
            <th>Eğitmen</th>
            <th>Ücret</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.StartDateTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@a.Member?.Email</td>
                <td>@a.Service?.Name</td>
                <td>@a.Trainer?.FullName</td>
                <td>@a.Price ₺</td>
                <td>@a.Status</td>

                <td>
                    <a class="btn btn-success btn-sm" asp-action="Approve" asp-route-id="@a.Id">Onayla</a>
                    <a class="btn btn-danger btn-sm" asp-action="Reject" asp-route-id="@a.Id">Reddet</a>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@a.Id">Düzenle</a>
                    <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@a.Id">Detay</a>
                    <a class="btn btn-warning btn-sm" asp-action="Delete" asp-route-id="@a.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
